/*.photo-grid {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    margin: 0 -8px -8px 0;*/
/*}*/

/*li {*/
/*    height: 60vh;*/
/*    flex-grow: 1;*/
/*    margin: 0 8px 8px 0;*/
/*}*/

.container{
    column-count: 3;
    column-gap: 10px;
    object-fit: cover;
}
/*img {*/
/*    height: auto;*/
/*    width: 100%;*/
/*    display: block;*/
/*    padding: 10px;*/
/*    margin-bottom: 10px;*/
/*    object-fit: cover;*/
/*    border-radius: 4px;*/
/*}*/
